.header {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    &__top form{
        display: flex;
        flex-direction: column;
    }
    &__bottom {
        display: flex;
        height: 38px;
        button {
            margin-left: 30px;
        }
    }
}
.table {
    width: 70%;
    margin: 0 auto;
    table {
        width: 100%;
    }
}

.dropdownBlock button {
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formEdit {
    padding: 16px;
}